<!-- <div class="bg-image"
    style="background-image:
    url('./assets/images/bg-6.jpg');
    height: 100vh">

    <br> -->
    <h2 style="text-align: center;">Welcome Admin</h2><br>
    <div class="container">
        <ul>

            <li>
                <a routerLink="/allusers">
                    <button class="btn btn-primary">All Users</button>
                </a>
            </li><br><br>


            <li>
                <a routerLink="/allmanagers">
                    <button class="btn btn-success">All Managers</button>
                </a>
            </li><br><br>

            <li>
                <a routerLink="/addmanager">
                    <button class="btn btn-dark">Add Manager</button>
                </a>
            </li><br><br>

            <li>
                <a routerLink="/allengineers">
                    <button class="btn btn-danger">All Engineers</button>
                </a>
            </li><br><br>

            <li>
                <a routerLink="/addengineer">
                    <button class="btn btn-info">Add Engineer</button>
                </a>
            </li><br><br>

            <li>
                <a routerLink="/adminlogin">
                    <button class="btn btn-secondary">Logout</button>
                </a>
            </li>
        </ul>
    </div>
<!-- </div> -->