<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="homepage" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://www.developmentaid.org/files/organizationLogos/abc-telecomm-co-ltd-238314.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <!-- <span class="text-uppercase font-weight-bold">ABC Telecom Ltd.</span> -->
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="homepage" class="nav-link">User</a></li>
        <li class="nav-item"><a routerLink="managerlogin" class="nav-link">Manager</a></li>
        <li class="nav-item"><a routerLink="engineerlogin" class="nav-link">Engineer</a></li>
        <li class="nav-item"><a routerLink="adminlogin" class="nav-link">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>